.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.seccionLogin {
  border: 3px solid;
  width: 50%;
  height: 55vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .seccionLogin {
    width: 65%;
    height: 80vh;
  }
}

.spinner {
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.container_operation {
  border: 3px solid;
  margin: auto;
  margin-top: 20vh;
  width: 80%;
  display: flex;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
